[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
cx-oracle = "==6.0.3"
python-decouple = "*"
dj-database-url = "*"
django-cors-headers = "*"
django-extensions = "*"
django-filter = "*"
django-rest-auth = "*"
djangorestframework = "*"
"django-python3-ldap" = "*"
djangorestframework-jwt = "*"
django-rest-swagger = "*"
django-rq = "*"
mysqlclient = "==1.3.12"
django-redis = "*"

[dev-packages]
notebook = "*"
sqlformatter = "*"

[requires]
python_version = "3.6"
